.media {
    padding-top: 40px;
    width: 320px;
    background-color: white;
}

.media__hr {
    margin-top: 20px;
}

.media__title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.media__subtitle {
    text-transform: uppercase;
    margin: 0 auto;
    width: 270px;
    text-align: center;
    margin-bottom: 25px;
}

.media__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.media__item-title,
.media__item-subtitle {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    font-size: 14px;
}

.media__item-title {
    text-transform: uppercase;
}


.media__item-subtitle {
    margin-bottom: 10px;
}

.media__item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.media__likes {
    padding-left: 30px;
    position: relative;
    font-weight: bold;
}

.media__photo {
    margin-bottom: 10px;
    vertical-align: bottom;
    height: 95%;
}

.media__likes::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    background-image: url("../../img/like-icon.svg");
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.media__iframe {
    width: 100%;
}

.media__subtitle .media__br {
    display: none;
}

@media (min-width: $tablet-width) {
    .media {
        width: 768px;
    }

    .media__hr {
        display: none;
    }

    .media__wrapper {
        background-color: #f2f2f2;
        box-sizing: border-box;
        padding: 25px;
        display: flex;
        align-items: center;
        height: 95px;
    }

    .media__container {
        margin-right: auto;
    }

    .media__photo {
        height: 100%;
        margin: 0;
    }

    .media__item-subtitle {
        margin: 0;
    }

    .media__list {
        padding-left: 60px;
        padding-right: 60px;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }

    .media__item {
        margin: 0;
        width: 324px;
        min-height: 351px;
        padding: 0;
    }

    .media__subtitle {
        width: 450px;
        margin-bottom: 50px;
    }
    
    .media__subtitle .media__br {
        display: block;
    }

    .media__item--main {
        width: 648px;
        min-height: 324px;
    }

    .media__item--second .media__wrapper {
        background-color: #eaeaea;
    }

    .media__video {
        padding-left: 60px;
        padding-right: 60px;
    }

    .media__iframe {
        height: 400px;
    }

    .header__link {
        font-size: 14px;
    }
}

@media (min-width: $desktop-width) {
    .media {
        width: 1200px;
    }

    .media__list {
        padding: 0;
    }

    .media__item {
        width: 400px;
        min-height: 250px;
        position: relative;
    }

    .media__item--main {
        width: 1200px;
        min-height: 400px;
    }

    .media__item .media__wrapper {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.3);
        color: white;
    }

    .media__likes::before {
        background-image: url("../../img/like-icon-white.svg");
    }

    .media__video {
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .media__iframe {
        height: 500px;
    }

    .media__title {
        font-size: 30px;
    }
}

  