.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

@font-face {
  font-family: "PTSans-Bold";
  src: url("../fonts/PTSans-Bold.woff") format("woff"), url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "PTSans";
  src: url("PTSans-Regular.woff2") format("woff2"), url("PTSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

body {
  padding: 0;
  margin: 0;
  font-family: "PTSans", "Arial", sans-serif;
  background-color: #eaeaea; }

img {
  max-width: 100%; }

.wrapper {
  margin: 0 auto;
  width: 320px;
  box-shadow: 0 -5px 9px 2px #dbdbdb;
  background-color: white; }

@media (min-width: 768px) {
  .wrapper {
    width: 768px; } }

@media (min-width: 1200px) {
  .wrapper {
    width: 1200px; } }

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0; }

.subtitle {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0; }

hr {
  margin: 0;
  border: solid 1px #e5e5e5; }

.header {
  position: relative;
  font-family: PT-sans;
  background-color: #b7c8d3;
  width: 320px; }

.header__menu {
  list-style: none;
  width: 320px;
  min-height: 55px;
  background-color: #81b3d2;
  padding: 0;
  margin: 0; }

.header__item {
  background-color: #81b3d2;
  text-align: center;
  box-sizing: border-box;
  height: 55px;
  border-bottom: solid 1px rgba(1, 1, 1, 0.2);
  border-top: solid 1px rgba(255, 255, 255, 0.2); }

@media (max-width: 767px) {
  .header__item:hover,
  .header__item:focus {
    background-color: #669ec0; }
  .header__item:active {
    background-color: #5496bd; }
  .header__item:active .header__link {
    color: rgba(255, 255, 255, 0.3); } }

.header__item--btn {
  position: absolute; }

.header__button {
  border: none;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-left: auto; }

.header__link {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none; }

.header__navigation {
  background-color: #ffffff;
  min-height: 56px;
  position: relative;
  display: flex;
  flex-direction: column; }

.header__navigation--open {
  padding-bottom: 56px; }

.header__button--open {
  width: 50px;
  height: 50px;
  margin-left: auto;
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 0; }

.header__button--open::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 4px;
  left: 14px;
  top: 14px;
  background-color: #81b3d2;
  box-shadow: 0 7px 0 0 #81b3d2, 0 14px 0 0 #81b3d2; }

.header__button--close {
  padding: 15px;
  margin-left: -13px;
  position: absolute;
  right: 0;
  top: 0; }

.header__button--close::before,
.header__button--close::after {
  width: 4px;
  height: 25px;
  background-color: #ffffff;
  transform: rotate(45deg);
  content: "";
  position: absolute;
  top: 12px;
  left: 23px; }

.header__button--close::after {
  transform: rotate(-45deg); }

.header__logo-link {
  margin-left: 50%;
  z-index: 100; }

.header__link {
  text-transform: uppercase;
  font-family: "PTSans-Bold"; }

.header__link {
  cursor: pointer;
  display: block;
  height: 100%;
  width: auto;
  padding-top: 15px;
  box-sizing: border-box; }

.header__nav-logo {
  position: absolute;
  width: 102px;
  height: 83px;
  transform: translateX(-51px); }

.header {
  width: 320px; }

.header__intro {
  height: 389px;
  background-image: url("source/img/intro-triangle.svg"), url("source/img/text-index.svg"), url("source/img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center 100%, center 45%, left 100%;
  background-size: 1200px 57px, 282px 214px, auto; }

.header__intro--small {
  height: 150px;
  background-image: url("source/img/intro-triangle.svg"), url("source/img/SEDONA.svg"), url("source/img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center 100%, center 50%, left 100%;
  background-size: 1200px 57px, 229px 39px, auto; }

.header__logo {
  position: absolute;
  left: 50%; }

.header__logo--index {
  margin-left: -141px;
  margin-top: 90px; }

.header__logo--form {
  margin-left: -115px;
  height: 39px;
  width: 229px;
  margin-top: 53px; }

@media (min-width: 768px) {
  .header__button {
    display: none; }
  .header__menu {
    position: relative; }
  .header {
    width: 768px; }
  .header__navigation {
    height: auto;
    min-height: 56px; }
  .header__navigation--open {
    padding-bottom: 0px; }
  .header__menu {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 768px;
    background-color: white;
    justify-content: flex-start; }
  .header__item {
    padding: 0;
    width: 153px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white; }
  .header__item:nth-child(2),
  .header__item:nth-child(6) {
    margin-right: 153px; }
  .header__link {
    color: black;
    padding: 0;
    height: auto; }
  .header__link:hover,
  .header__link:focus {
    color: #81b3d2; }
  .header__link:not([href]) {
    color: #766357; }
  .header__link:not([href]):hover {
    color: #604e43; }
  .header__link:not([href]):active {
    color: #dbd8d5; }
  .header__link:disabled {
    color: #cacaca; }
  .header__link:active {
    color: #cacaca; }
  .header__logo-link {
    position: absolute;
    margin: 0;
    top: 0;
    left: 50%; }
  .header__navigation {
    padding-top: 0; }
  .header__button--open {
    display: none; }
  .header__intro {
    height: 518px;
    background-image: url("source/img/intro-triangle.svg"), url("source/img/text-index.svg"), url("source/img/back-tablet.jpg");
    background-position: center 100%, center 50%, left 100%;
    background-size: 1200px 57px, 460px 350px, auto; }
  .header__intro--small {
    height: 300px;
    background-image: url("source/img/intro-triangle.svg"), url("source/img/SEDONA.svg"), url("source/img/back-tablet--small.jpg");
    background-position: center 100%, center 45%, left 100%;
    background-size: 1200px 57px, 458px 78px, auto; }
  .header__nav-logo {
    position: relative; } }

@media (min-width: 1200px) {
  .header {
    width: 1200px;
    box-sizing: border-box; }
  .header__menu {
    width: 1200px; }
  .header__navigation {
    min-height: 55px;
    width: 1200px;
    margin: 0 auto; }
  .header__item {
    width: 240px; }
  .header__item:nth-child(2),
  .header__item:nth-child(6) {
    margin-right: 240px; }
  .header__link {
    font-size: 14px; }
  .header__intro {
    background-image: url("source/img/intro-triangle.svg"), url("source/img/text-index.svg"), url("source/img/back-desktop.jpg");
    background-position: center 100%, center 60%, center 100%;
    background-color: #b7c8d3; }
  .header__intro--small {
    height: 357px;
    background-image: url("source/img/intro-triangle.svg"), url("source/img/SEDONA.svg"), url("source/img/back-desktop--small.jpg");
    background-position: center 100%, center 45%, center 100%;
    background-size: 1200px 57px, 461px 80px, auto; }
  .header__nav-logo {
    display: block;
    width: 188px;
    height: 96px;
    transform: translateX(-94px); } }

.main {
  background-color: white;
  width: 320px; }

.main .main__title--pt45 {
  padding-top: 45px; }

.main__title {
  margin: 0 auto;
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px; }

.main__subtitle {
  line-height: 26px;
  margin: 0 auto;
  width: 290px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 5px;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .main {
    width: 768px; }
  .main__title {
    width: 500px; }
  .main__title--br {
    display: none; }
  .main__subtitle {
    width: 550px;
    margin-bottom: 54px; } }

@media (min-width: 1200px) {
  .main {
    width: 1200px; } }

.advantage__item--vector-blue {
  background-image: url(source/img/vectorwhite.svg);
  background-repeat: no-repeat;
  padding-top: 75px;
  background-size: 800px 60px;
  background-position-y: -11px;
  background-position-x: center; }

.advantage__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
  text-align: center; }

.advantage__list--black-text {
  color: black;
  background-color: white; }

.advantage__item--blue {
  background-color: #81b3d2; }

.advantage__item--inner {
  background-repeat: no-repeat;
  background-position: 12px 0px;
  padding-top: 5px;
  box-sizing: border-box; }

.advantage__item--home {
  background-image: url("source/img/icon-house.svg");
  background-size: 39px 37px;
  background-position: 12px 0px; }

.advantage__item--items {
  background-image: url("source/img/icon-gift.svg");
  background-size: 32px 38px;
  background-position: 15px 0px; }

.advantage__item--food {
  background-image: url("source/img/icon-burger.svg");
  background-size: 40px 35px;
  background-position: 12px 0px; }

.advantage__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  line-height: 26px; }

.advantage__number {
  margin: 0;
  margin-bottom: 10px; }

.advantage__subtitle {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 35px;
  text-transform: uppercase;
  line-height: 21px; }

.advantage__img {
  vertical-align: bottom;
  height: 100%; }

.advantage__list--inner {
  padding-top: 25px; }

.advantage__title--inner {
  text-align: left;
  text-transform: uppercase;
  margin-left: 60px; }

.advantage__subtitle--inner {
  width: 200px;
  text-align: left;
  text-transform: uppercase; }

.advantage__wrapper--flex {
  display: block; }

.advantage__item--gray {
  background-color: #eeeeee;
  padding-top: 35px;
  color: black;
  padding-bottom: 1px;
  position: relative; }

.advantage__item--padding-top {
  padding-top: 25px;
  padding-bottom: 1px; }

.advantage__item--gray:not(:last-of-type)::after {
  content: "";
  position: absolute;
  background-color: #d6d6d6;
  width: 280px;
  height: 1px;
  left: 50%;
  margin-left: -140px; }

.advantage__subtitle--inner .advantage__br {
  display: none; }

@media (min-width: 768px) {
  .advantage__img {
    width: 512px; }
  .advantage__list {
    width: 100%; }
  .advantage__item--vector-blue {
    background-image: none; }
  .advantage__item--blue {
    display: flex;
    flex-wrap: wrap; }
  .advantage__item {
    padding-top: 0; }
  .adventage__1,
  .adventage__2 {
    width: 256px;
    height: 256px; }
  .advantage__list--inner {
    display: flex;
    padding-top: 0px; }
  .advantage__item--inner {
    width: 256px;
    height: 330px;
    padding-top: 170px;
    box-sizing: border-box; }
  .advantage__item .advantage__title {
    width: 150px;
    margin: 0 auto; }
  .advantage__item .advantage__subtitle {
    width: 180px; }
  .advantage__item .adventage__1,
  .advantage__item .adventage__2 {
    padding-top: 50px;
    box-sizing: border-box; }
  .advantage__title--inner,
  .advantage__subtitle--inner {
    text-align: center; }
  .advantage__item .advantage__title--inner {
    margin-bottom: 10px; }
  .advantage__item--inner {
    background-size: auto; }
  .advantage__item--home {
    background-image: url("source/img/icon-house.svg");
    background-size: 75px 72px; }
  .advantage__item--items {
    background-image: url("source/img/icon-gift.svg");
    background-size: 75px 72px; }
  .advantage__item--food {
    background-image: url("source/img/icon-burger.svg");
    background-size: 75px 72px; }
  .advantage__item--inner {
    background-position: center 30%;
    background-repeat: no-repeat; }
  .adventage__br {
    display: none; }
  .adventage__wrapper--flex {
    display: flex; }
  .advantage__item--blue {
    width: 100%; }
  .advantage__item--gray {
    width: 256px;
    box-sizing: border-box;
    padding-top: 50px; }
  .advantage__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .advantage__item--gray .advantage__subtitle {
    margin-bottom: 50px; }
  .advantage__item--gray::after {
    display: none; }
  .adventage__2 {
    order: 2; }
  .advantage__item--items {
    order: 2; }
  .adventage__3 .advantage__subtitle {
    width: 210px; }
  .adventage__4 .advantage__subtitle {
    width: 170px; } }

@media (min-width: 1200px) {
  .advantage__img {
    width: 800px; }
  .adventage__1,
  .adventage__2 {
    width: 400px; }
  .advantage__item .advantage__title,
  .advantage__number {
    margin-bottom: 15px; }
  .advantage__item .advantage__subtitle {
    width: 300px; }
  .advantage__item--inner,
  .advantage__item--gray {
    width: 400px;
    min-height: 258px; }
  .advantage__item .advantage__subtitle--inner {
    width: 320px; }
  .advantage__subtitle--inner .advantage__br {
    display: block; }
  .adventage__2 > .advantage__subtitle {
    width: 250px; }
  .adventage__3 .advantage__subtitle {
    width: 375px;
    font-size: 14px; } }

.hotel-search {
  padding-top: 25px;
  padding-bottom: 25px; }

.hotel-search__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px; }

.hotel-search__subtitle {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 25px;
  text-transform: uppercase; }

.hotel-search__button {
  margin: 0 auto;
  text-decoration: none;
  color: white;
  width: 280px;
  height: 58px;
  text-align: center;
  padding-top: 16px;
  background-color: #81b3d2;
  box-sizing: border-box;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px; }

.hotel-search__button:hover,
.hotel-search__button:focus {
  background-color: #669ec0; }

.hotel-search__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3); }

.hotel-search__button:disabled {
  background-color: #e5e5e5; }

.hotel-search__br {
  display: none; }

@media (min-width: 768px) {
  .hotel-search {
    padding-top: 55px;
    padding-bottom: 55px;
    min-height: 318px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .hotel-search__title {
    font-size: 30px; }
  .hotel-search__subtitle {
    width: 500px;
    font-size: 14px;
    line-height: 24px; }
  .hotel-search__br {
    display: block; }
  .hotel-search__button {
    width: 458px; } }

@media (min-width: 1200px) {
  .hotel-search__subtitle {
    width: 490px; }
  .hotel-search {
    min-height: 330px;
    padding-top: 66px;
    padding-bottom: 66px;
    box-sizing: border-box; }
  .hotel-search__button {
    width: 490px;
    height: 60px;
    padding-top: 17px; } }

.map__frame {
  height: 350px;
  position: absolute;
  width: 320px; }

@media (min-width: 768px) {
  .map__frame {
    width: 768px; } }

@media (min-width: 1200px) {
  .map__frame {
    width: 1200px; } }

.map__photo {
  height: 350px;
  z-index: 0; }

.footer {
  padding-top: 35px;
  background-color: white;
  width: 320px;
  padding-bottom: 20px; }

.footer__title {
  text-align: center;
  margin-bottom: 38px;
  font-size: 21px; }

.footer__links {
  width: 152px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0 auto;
  margin-bottom: 25px;
  flex-wrap: wrap; }

.footer__links li {
  margin-bottom: 6px;
  margin-right: 6px; }

.footer__links li:nth-child(3n) {
  margin-right: 0; }

.footer__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  position: relative;
  cursor: pointer; }

.footer__link::before {
  width: 46px;
  height: 48px;
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto; }

.footer__link:hover,
.footer__link:focus {
  background-color: #669ec0; }

.footer__link:active {
  background-color: #5496bd; }

.footer__link:active::before {
  opacity: 0.3; }

.footer__link:not(:last-child) {
  margin-right: 6px; }

.footer__link--twitter::before {
  background-image: url("source/img/icon-twitter.svg");
  background-size: 18px 14px; }

.footer__link--facebook::before {
  background-image: url("source/img/icon-facebook.svg");
  background-size: 9px 18px; }

.footer__link--youtube::before {
  background-image: url("source/img/icon-youtube.svg");
  background-size: 20px 14px; }

.footer__copyright {
  width: 150px;
  font-size: 14px;
  text-decoration: none;
  color: black;
  margin: 0 auto;
  display: block;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 34px; }

.footer__copyright:hover path,
.footer__copyright:focus path {
  fill: #669ec0; }

.footer__copyright:active path {
  fill: #cacaca; }

@media (min-width: 768px) {
  .footer {
    display: flex;
    padding-left: 55px;
    padding-right: 55px;
    box-sizing: border-box;
    width: 768px;
    padding-top: 50px;
    padding-bottom: 30px;
    align-items: center; }
  .footer__link {
    margin-bottom: 0; }
  .footer__copyright {
    margin: 0;
    margin-bottom: 0; }
  .footer__title {
    margin-bottom: 0; }
  .footer__links {
    margin-bottom: 0; } }

@media (min-width: 1200px) {
  .footer {
    width: 1200px;
    padding-left: 120px;
    padding-right: 120px; } }

.feedback__title {
  margin: 0 auto; }

.feedback__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px; }

.feedback .feedback__title--pt40 {
  padding-top: 40px; }

.feedback__title--name {
  margin-bottom: 20px; }

.feedback__subtitle {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  line-height: 24px; }

.feedback__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  padding-left: 20px;
  padding-right: 22px;
  margin-bottom: 20px; }

.feedback__hr {
  margin-bottom: 22px; }

.feedback__name label {
  display: block;
  text-transform: uppercase;
  box-sizing: border-box;
  padding-top: 25px; }

.feedback__input {
  height: 60px;
  border: none;
  background-color: #f2f2f2;
  width: 100%;
  padding-left: 22px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: bold;
  box-sizing: border-box;
  border: solid 3px #f2f2f2; }

.feedback__checkbox .feedback__input {
  width: auto; }

.feedback__input:hover {
  background-color: #e5e5e5;
  border-color: #e5e5e5; }

.feedback__input:focus {
  border: solid 3px #e5e5e5;
  background-color: white; }

.feedback__name .feedback__wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  padding: 0; }

.feedback__name .feedback__input {
  margin-left: 5px;
  width: 180px;
  flex-grow: 1; }

.feedback__name label input:active, :hover, :focus {
  outline: 0; }

.feedback__contacts .feedback__input {
  margin-left: 0; }

.feedback__fieldset label {
  text-transform: uppercase;
  font-size: 14px; }

.feedback__contacts label {
  display: block;
  margin-bottom: 15px;
  position: relative;
  padding-left: 10px; }

.feedback__contacts .feedback__input {
  margin-top: 10px;
  padding-right: 60px;
  margin-left: -10px; }

.feedback__contacts label::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  bottom: 0;
  right: 0;
  background-color: #e6e6e6; }

.feedback__label--phonepic::after {
  background-image: url("source/img/phone.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px; }

.feedback__label--mailpic::after {
  background-image: url("source/img/mail.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 21px 17px; }

.feedback__checkbox {
  padding-bottom: 20px; }

.feedback__checkbox label {
  font-size: 18px;
  text-transform: none;
  font-weight: bold;
  padding-left: 65px;
  margin-bottom: 50px;
  cursor: pointer;
  position: relative; }

.feedback {
  background-color: white; }

.feedback__checkbox label:last-of-type {
  margin-bottom: 0; }

.feedback__checkbox label::before {
  content: "";
  position: absolute;
  background-color: #f2f2f2;
  width: 26px;
  height: 26px;
  border: solid 18px #f2f2f2;
  margin-left: -70px;
  margin-top: -20px; }

.feedback__checkbox--round label::before {
  border-radius: 50%; }

.feedback__checkbox--square label::before {
  border-radius: 8%; }

.feedback__checkbox--round .feedback__input:checked + label::before {
  background-color: black; }

.feedback__checkbox--square .feedback__input:checked + label::before {
  background-image: url("source/img/tick.svg");
  background-size: 24px 16px;
  background-position: center;
  background-repeat: no-repeat; }

.feedback__checkbox--square .feedback__input:checked + label:active::before {
  background-image: none; }

.feedback__checkbox--square .feedback__input:checked + label:active::after {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  opacity: 0.3;
  background-image: url("source/img/tick.svg");
  background-size: 24px 16px;
  background-position: center;
  background-repeat: no-repeat;
  left: 13px;
  margin-top: -2px; }

.feedback__checkbox label:hover::before,
.feedback__checkbox label:focus::before {
  background-color: #e5e5e5;
  border-color: #e5e5e5; }

.feedback__checkbox label:active::before {
  background: #d5d5d5;
  border-color: #d5d5d5; }

.feedback__checkbox--round .feedback__input:checked + label:active::before {
  background-color: #a4a4a4; }

.feedback__feedback-text {
  width: 100%;
  height: 160px;
  border: 0;
  background-color: #f2f2f2;
  padding: 15px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 18px;
  resize: none;
  font-family: "PTSans-Bold"; }

.feedback__feedback-text::placeholder,
.feedback__feedback-text::-moz-placeholder {
  color: black;
  opacity: 1; }

.feedback__button {
  font-family: 'PT Sans', sans-serif;
  border: 0;
  background-color: #81b3d2;
  color: white;
  display: block;
  width: 280px;
  height: 55px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  cursor: pointer; }

.feedback__button:hover,
.feedback__button:focus {
  background-color: #669ec0; }

.feedback__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3); }

.feedback__button:disabled {
  background-color: #e5e5e5; }

.feedback__text .title {
  margin-bottom: 20px; }

.feedback__feedback-text {
  margin-bottom: 20px;
  overflow: auto; }

.feedback__ps {
  display: none; }

.feedback__wrapper {
  display: flex;
  flex-direction: column; }

.feedback__fieldset .feedback__title {
  margin-bottom: 23px; }

.feedback__impression .feedback__title {
  margin-bottom: 40px; }

.feedback__attractions .feedback__title {
  margin-bottom: 40px;
  width: 280px; }

.feedback__attractions label {
  margin-bottom: 60px; }

.feedback__form {
  padding-bottom: 40px;
  background-color: white; }

.feedback__label--desktop {
  display: none; }

.feedback__label--mobile {
  display: block; }

.feedback .feedback__input::-ms-clear {
  display: none; }

@media (min-width: 768px) {
  .feedback > .feedback__title {
    font-size: 30px; }
  .feedback__subtitle {
    width: 490px;
    margin: 0 auto; }
  .feedback__form {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 50px; }
  .feedback__impression {
    order: -1; }
  .feedback__fieldset {
    width: 324px;
    padding: 0;
    margin-bottom: 80px;
    position: relative; }
  .feedback__text {
    margin-bottom: 40px; }
  .feedback__contacts {
    margin-bottom: 35px; }
  .feedback__attractions {
    margin-bottom: 15px; }
  .feedback__fieldset .feedback__title {
    margin-bottom: 50px;
    text-align: left;
    font-size: 20px; }
  .feedback__impression .feedback__title,
  .feedback__name .feedback__title {
    margin-top: 20px;
    margin-bottom: 50px; }
  .feedback__fieldset--width {
    width: 100%; }
  .feedback__hr {
    display: none; }
  .feedback__name {
    padding-left: 50px;
    box-sizing: border-box; }
  .feedback__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 14px; }
  .feedback__fieldset--width .feedback__title {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 50px; }
  .feedback__fieldset--width .feedback__title::before,
  .feedback__fieldset--width .feedback__title::after {
    position: absolute;
    content: "";
    width: 130px;
    height: 1px;
    background-color: #dbdbdb; }
  .feedback__fieldset--width .feedback__title::before {
    left: 0;
    margin-top: 15px; }
  .feedback__fieldset--width .feedback__title::after {
    right: 0;
    margin-top: 15px; }
  .feedback__fieldset--sight .feedback__title::after,
  .feedback__fieldset--sight .feedback__title::before {
    margin-top: 25px; }
  .feedback__contacts label:not(:last-of-type) {
    margin-bottom: 30px; }
  .feedback__fieldset--sight label:last-of-type {
    margin-bottom: 70px; }
  .feedback__contacts .feedback__title {
    margin-bottom: 20px; }
  .feedback__title {
    font-size: 21px; }
  .feedback__fieldset--sight {
    padding-left: 95px;
    padding-right: 80px; }
  .feedback__fieldset--sight label {
    width: 150px;
    margin-bottom: 70px; }
  .feedback__fieldset--sight .feedback__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .feedback__button {
    margin: 0;
    width: 320px; }
  .feedback__ps {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    margin-left: auto;
    display: block;
    margin-top: 15px; }
  .feedback__impression::before {
    position: absolute;
    content: "";
    height: 90%;
    width: 1px;
    background-color: #dbdbdb;
    top: 0;
    right: 0; } }

@media (min-width: 1200px) {
  .feedback__form {
    padding-left: 120px;
    padding-right: 120px; }
  .feedback__fieldset {
    width: 480px; }
  .feedback__name {
    padding-left: 80px; }
  .feedback__impression .feedback__title {
    padding-left: 79px; }
  .feedback__impression,
  .feedback__name {
    margin-bottom: 70px; }
  .feedback__fieldset--width {
    width: 100%; }
  .feedback__contacts {
    margin-bottom: 25px; }
  .feedback .feedback__title--pt120 {
    padding-top: 120px; }
  .feedback__contacts label {
    display: flex;
    margin-bottom: 0;
    flex-shrink: 0;
    align-items: center; }
  .feedback__contacts .feedback__input {
    margin-top: 0;
    width: 315px;
    position: relative;
    box-sizing: border-box;
    margin-left: 10px; }
  .feedback__contacts .feedback__wrapper {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; }
  .feedback__contacts .feedback__title {
    margin-bottom: 60px; }
  .feedback__contacts label {
    margin-bottom: 30px;
    padding-left: 0;
    font-size: 13px; }
  .feedback__fieldset--sight {
    padding: 0; }
  .feedback__fieldset--sight label:last-of-type {
    margin-bottom: 70px; }
  .feedback__label--phonepic {
    padding-right: 50px;
    box-sizing: border-box; }
  .feedback__label--phonepic::after {
    margin-right: 50px; }
  .feedback__fieldset--width .feedback__title::before,
  .feedback__fieldset--width .feedback__title::after {
    display: none; }
  .feedback__label--mobile {
    display: none; }
  .feedback__label--desktop {
    display: block; }
  .feedback__contacts .feedback__title::before,
  .feedback__contacts .feedback__title::after,
  .feedback__fieldset--width .feedback__title::after,
  .feedback__fieldset--width .feedback__title::before {
    display: block;
    position: absolute;
    content: "";
    width: 250px;
    height: 1px;
    background-color: #dbdbdb; }
  .feedback__contacts .feedback__title::before,
  .feedback__fieldset--width .feedback__title::before {
    left: 0;
    top: 0;
    margin-top: 15px; }
  .feedback__contacts .feedback__title::after,
  .feedback__fieldset--width .feedback__title::after {
    right: 0;
    top: 0;
    margin-top: 15px; }
  .feedback__text .feedback__title::before,
  .feedback__text .feedback__title::after {
    top: auto;
    bottom: 245px; }
  .feedback__impression .feedback__title,
  .feedback__name .feedback__title {
    margin-top: 5px;
    margin-bottom: 60px; }
  .feedback__button {
    width: 480px; } }

.media {
  padding-top: 40px;
  width: 320px;
  background-color: white; }

.media__hr {
  margin-top: 20px; }

.media__title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase; }

.media__subtitle {
  text-transform: uppercase;
  margin: 0 auto;
  width: 270px;
  text-align: center;
  margin-bottom: 25px; }

.media__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.media__item-title,
.media__item-subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-size: 14px; }

.media__item-title {
  text-transform: uppercase; }

.media__item-subtitle {
  margin-bottom: 10px; }

.media__item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px; }

.media__likes {
  padding-left: 30px;
  position: relative;
  font-weight: bold; }

.media__photo {
  margin-bottom: 10px;
  vertical-align: bottom;
  height: 95%; }

.media__likes::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  background-image: url("../img/like-icon.svg");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat; }

.media__iframe {
  width: 100%; }

.media__subtitle .media__br {
  display: none; }

@media (min-width: 768px) {
  .media {
    width: 768px; }
  .media__hr {
    display: none; }
  .media__wrapper {
    background-color: #f2f2f2;
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    align-items: center;
    height: 95px; }
  .media__container {
    margin-right: auto; }
  .media__photo {
    height: 100%;
    margin: 0; }
  .media__item-subtitle {
    margin: 0; }
  .media__list {
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px; }
  .media__item {
    margin: 0;
    width: 324px;
    min-height: 351px;
    padding: 0; }
  .media__subtitle {
    width: 450px;
    margin-bottom: 50px; }
  .media__subtitle .media__br {
    display: block; }
  .media__item--main {
    width: 648px;
    min-height: 324px; }
  .media__item--second .media__wrapper {
    background-color: #eaeaea; }
  .media__video {
    padding-left: 60px;
    padding-right: 60px; }
  .media__iframe {
    height: 400px; }
  .header__link {
    font-size: 14px; } }

@media (min-width: 1200px) {
  .media {
    width: 1200px; }
  .media__list {
    padding: 0; }
  .media__item {
    width: 400px;
    min-height: 250px;
    position: relative; }
  .media__item--main {
    width: 1200px;
    min-height: 400px; }
  .media__item .media__wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: white; }
  .media__likes::before {
    background-image: url("../img/like-icon-white.svg"); }
  .media__video {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px; }
  .media__iframe {
    height: 500px; }
  .media__title {
    font-size: 30px; } }
